<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Teller Blazor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi" aria-hidden="true"></span> Enroll
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="bi" aria-hidden="true"></span> Accounts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi" aria-hidden="true"></span> Transactions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="institutions">
                <span class="bi" aria-hidden="true"></span> Institutions
            </NavLink>
        </div>
    </nav>
</div>

